page-intro {

     .home{
        background-image: url('/assets/images/intro.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
   
    }
    
    .card{
         border-radius: 10px;
         background: rgb(10,10,10); 
         background: rgba(10,10,10,0.75);
         color:white;
    }
     .card-header{
        color: white;
    }
    .next_button{
        // margin-left: -10px;
        float: right;
    }
    
}
